@import "./utils/variables";
@import "./base/base";
@import "./components/site-header";
@import "./components/logo";
@import "./components/site-nav";
@import "./components/contact-nav";
@import "./components/site-hero";
@import "./components/feature__list";
@import "./components/section-skills";
@import "./components/section-team";
@import "./components/clients";
@import "./components/portfolio-nav";
@import "./components/portfolio";
@import "./components/footer";
@import "./components/form-subscribe";
@import "./components/modal";

/* CHECKBOX */
.checkbox__link {
  color: $accept-color;
  text-decoration: underline;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox__hidden:checked + .checkbox__icon {
  background-color: $accept-color;
  border: none;
}
.checkbox__icon {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid $primery-text-color;
  border-radius: 2px;
}
.checkbox__icon > .checkbox__icon-check {
  fill: transparent;
}
.checkbox:checked + * .checkbox__icon-check {
  fill: $primery-bg-color;
}

.checkbox__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

/* MODAL_BTN */

.modal__btn-submit {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: none;
  background: $accept-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $primery-bg-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-submit:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
