.page {
  background-color: $primery-bg-color;
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  color: $primery-text-color;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
